/* FONT STACK */

svg, .treeCanvas{
}

.createMultiLCA {
    height: 300px;
}

.negativeNode circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}


.positiveNode circle {
    fill: steelblue;
    stroke: steelblue;
    stroke-width: 1.5px;

}

.mixedNode circle {
    fill: url(#grad);
    stroke: steelblue;
    stroke-width: 1.5px;

}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.notLeaf {
    font: 10px sans-serif;
}

.leaf {
    font: 10px sans-serif;
    font-style: italic;
}

.lca {
    font: 10px sans-serif;
    font-weight: bold;
}

#center {
    display: table-cell;
    vertical-align: middle;
}

#fig {
    position: relative;
    margin: auto;
}